
.characterCard {
  &__Wrapper {
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    display: flex;
    height: 220px;
    margin: 0.75rem;
    overflow: hidden;
    width: 600px;
  }

  &__ImgWrapper {
    flex: 2 1 0%;
    width: 100%;
  }

  &__ContentWrapper {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex: 3 1 0%;
    padding: 0.75rem;
    position: relative;
  }

}

a {
  color: rgb(245, 245, 245);

  &:hover {
    color: rgb(255, 152, 0);
    text-decoration: none;
  }
}

.status {
  align-items: center;
  display: flex;
  text-transform: capitalize;

  &__icon {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
  }
}

.text-gray {
  color: rgb(158, 158, 158);
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: flex-start;
  text-align: left;
}

span {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
